In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [3]:
# save path to variable
climate_path = "CA042239T.csv"

# Read the climate data
climate_results = pd.read_csv(climate_path)

climate_results

     State_id    YEAR    Month   TMAX (F) TMEAN (F) TMIN (F)
0      '042239'    1887        1        .         .        .
1      '042239'    1887        2        .         .        .
2      '042239'    1887        3        .         .        .
3      '042239'    1887        4        .         .        .
4      '042239'    1887        5        .         .        .
...         ...     ...      ...      ...       ...       ...
1531   '042239'    2014        8     83.2      68.3      53.4
1532   '042239'    2014        9     82.5      66.7      50.8
1533   '042239'    2014       10     75.4      58.6      41.8
1534   '042239'    2014       11     62.3      49.1      35.8
1535   '042239'    2014       12     52.4      42.2        32

[1536 rows x 6 columns]

In [4]:
# checking for NAs
climate_results.isna().sum()

State_id      0
YEAR          0
Month         0
TMAX (F)      0
TMEAN (F)     0
TMIN (F)      0
dtype: int64

In [5]:
# checking data types
climate_results.dtypes

State_id      object
YEAR           int64
Month          int64
TMAX (F)      object
TMEAN (F)     object
TMIN (F)      object
dtype: object

In [6]:
# checking columns
climate_results.columns

Index(['State_id  ', 'YEAR  ', 'Month  ', 'TMAX (F)', 'TMEAN (F)',
       'TMIN (F) '],
      dtype='object')

In [12]:
# revising extra spaces out of column names
dict = {'State_id  ': 'State_id',
        'YEAR  ': 'YEAR',
        'Month  ': 'Month',
        'TMIN (F) ': 'TMIN (F)'}

climate_redux = climate_results.rename(columns=dict)
climate_redux.columns

Index(['State_id', 'YEAR', 'Month', 'TMAX (F)', 'TMEAN (F)', 'TMIN (F)'], dtype='object')

In [13]:
# Grabbing data between years 1961 - 1990
climate_results_sixtyone = climate_redux[climate_redux['YEAR'].between(1961, 1990)]
climate_results_sixtyone

      State_id  YEAR  Month TMAX (F) TMEAN (F) TMIN (F)
888   '042239'  1961      1     53.8      40.2     26.7
889   '042239'  1961      2     55.7      42.2     28.8
890   '042239'  1961      3       53      42.4     31.7
891   '042239'  1961      4     64.3      49.7       35
892   '042239'  1961      5     64.2      50.8     37.4
...        ...   ...    ...      ...       ...      ...
1243  '042239'  1990      8     81.9        67       52
1244  '042239'  1990      9     79.6      64.3     48.9
1245  '042239'  1990     10     73.7      56.2     38.7
1246  '042239'  1990     11     58.9      45.9     32.8
1247  '042239'  1990     12     47.9      36.3     24.7

[360 rows x 6 columns]

In [14]:
# Using .loc to as alternate method
sixtyone = climate_redux.loc[(climate_redux.YEAR > 1960) & (climate_redux.YEAR < 1991), :]
sixtyone

      State_id  YEAR  Month TMAX (F) TMEAN (F) TMIN (F)
888   '042239'  1961      1     53.8      40.2     26.7
889   '042239'  1961      2     55.7      42.2     28.8
890   '042239'  1961      3       53      42.4     31.7
891   '042239'  1961      4     64.3      49.7       35
892   '042239'  1961      5     64.2      50.8     37.4
...        ...   ...    ...      ...       ...      ...
1243  '042239'  1990      8     81.9        67       52
1244  '042239'  1990      9     79.6      64.3     48.9
1245  '042239'  1990     10     73.7      56.2     38.7
1246  '042239'  1990     11     58.9      45.9     32.8
1247  '042239'  1990     12     47.9      36.3     24.7

[360 rows x 6 columns]

In [15]:
# adjust TMAX format to float
import warnings
warnings.filterwarnings("ignore")
sixtyone['TMAX (F)'] = sixtyone['TMAX (F)'].astype('float')
sixtyone.dtypes

State_id      object
YEAR           int64
Month          int64
TMAX (F)     float64
TMEAN (F)     object
TMIN (F)      object
dtype: object

In [16]:
# adjust TMEAN format to float
sixtyone['TMEAN (F)'] = sixtyone['TMEAN (F)'].astype('float')
sixtyone.dtypes

State_id      object
YEAR           int64
Month          int64
TMAX (F)     float64
TMEAN (F)    float64
TMIN (F)      object
dtype: object

In [17]:
# adjust TMIN format to float
sixtyone['TMIN (F)'] = sixtyone['TMIN (F)'].astype('float')
sixtyone.dtypes

State_id      object
YEAR           int64
Month          int64
TMAX (F)     float64
TMEAN (F)    float64
TMIN (F)     float64
dtype: object

In [18]:
# creating first pivot table for TMAX
pivot_tmax = sixtyone.pivot_table(values='TMAX (F)', index='YEAR', columns='Month')
pivot_tmax

Month    1     2     3     4     5     6     7     8     9     10    11    12
YEAR
1961   53.8  55.7  53.0  64.3  64.2  81.3  87.6  85.0  76.3  69.3  54.0  48.9
1962   48.2  47.0  46.7  68.3  63.6  74.9  83.8  88.1  82.5  70.6  64.3  54.9
1963   46.1  61.8  53.7  55.0  68.3  70.6  85.7  83.3  80.1  70.1  58.5  54.4
1964   48.7  52.2  49.7  55.6  62.3  74.9  86.8  85.3  80.4  75.3  51.9  50.8
1965   50.7  52.4  49.9  56.7  66.6  69.8  84.4  84.9  73.3  76.8  59.1  46.9
1966   46.9  46.2  58.7  66.5  72.5  78.4  84.7  86.6  80.5  69.6  58.9  50.2
1967   51.0  55.0  54.2  47.8  65.0  70.9  86.6  86.5  74.8  74.4  61.4  43.3
1968   47.6  57.0  55.7  59.5  67.6  76.0  83.8  78.9  78.9  69.4  58.6  47.0
1969   50.8  44.0  52.6  61.7  69.5  73.8  83.4  89.3  81.4  65.6  57.0  58.1
1970   53.1  55.5  55.1  56.5  69.4  77.2  86.6  86.6  78.6  67.3  58.5  47.9
1971   51.8  52.7  57.5  56.8  60.6  73.7  85.1  85.6  79.5  64.7  55.9  44.3
1972   51.6  56.8  66.8  63.1  71.2  77.3  86.0  81.6  77.7  62.8  54.0  47.8
1973   45.8  47.9  44.3  59.0  70.3  78.4  84.1  82.3  76.7  69.7  55.0  54.9
1974   47.6  53.3  55.3  59.6  67.3  81.3  81.7  82.2  81.9  67.0  58.3  50.6
1975   53.2  50.4  49.7  47.1  65.8  75.6  83.0  82.7  79.7  66.7  59.5  53.5
1976   54.7  52.7  52.8  56.2  69.1  76.8  83.1  78.5  72.0  67.1  60.5  54.6
1977   48.2  59.2  50.0  63.0  57.3  77.3  84.0  82.3  76.3  71.6  63.7  57.6
1978   50.5  50.3  54.6  55.0  66.3  78.6  84.7  82.7  75.2  74.1  54.1  47.5
1979   43.2  47.9  51.2  60.8  66.1  78.5  82.7  79.4  83.9  69.9  55.6  56.2
1980   49.8  54.4  50.2  59.3  57.6  74.3  85.1  81.5  80.0  70.4  62.9  57.8
1981   54.6  56.8  52.0  63.3  67.4  83.6  85.3  87.2  80.5  63.7  62.7  58.1
1982   47.2  53.1  51.3  59.5  66.5  71.9  81.7  85.6  76.1  67.8  54.2  50.4
1983   52.4  51.4  51.2  52.1  67.1  73.4  82.0  81.2  80.0  68.4  56.5  52.6
1984   53.8  58.4  60.5  60.0  76.2  76.3  82.3  81.2  79.3  63.3  55.2  45.4
1985   47.7  51.7  53.5  66.2  68.2  79.5  84.7  84.1  70.7  67.4  55.0  53.5
1986   58.7  53.5  59.2  61.5  68.2  78.2  79.5  86.6  71.4  65.3  62.8  55.5
1987   52.6  53.1  50.5  68.1  67.8  79.7  80.0  81.5  79.8  70.8  57.3  47.5
1988   52.0  58.6  62.1  60.6  69.0  78.2  86.1  83.0  79.5  77.5  58.5  50.8
1989   47.0  50.1  62.6  69.9  66.8  77.3  87.4  80.9  80.5  68.8  64.4  54.7
1990   51.3  48.8  57.5  62.0  63.2  77.5  83.5  81.9  79.6  73.7  58.9  47.9

In [19]:
# creating second pivot table for TMEAN
pivot_tmean = sixtyone.pivot_table(values='TMEAN (F)', index='YEAR', columns='Month')
pivot_tmean

Month    1     2     3     4     5     6     7     8     9     10    11    12
YEAR
1961   40.2  42.2  42.4  49.7  50.8  66.8  71.1  69.1  58.9  53.0  41.4  38.1
1962   37.6  38.7  36.9  53.7  51.0  59.6  67.0  70.8  64.1  53.1  46.4  40.2
1963   35.5  47.8  41.0  42.2  54.1  57.4  69.5  68.1  63.4  55.1  45.5  39.6
1964   37.2  38.3  37.5  43.3  49.8  59.0  69.6  68.8  61.8  59.1  39.8  41.4
1965   40.4  40.4  39.2  45.0  52.2  54.7  67.6  68.5  56.9  57.7  46.2  38.0
1966   36.2  36.1  45.1  51.8  56.2  61.8  68.4  70.2  63.2  53.5  45.8  40.9
1967   40.6  42.4  43.6  38.0  52.2  56.6  70.5  70.8  61.7  55.3  47.0  33.3
1968   37.3  45.9  43.5  45.7  53.1  61.8  69.0  64.3  62.3  53.4  45.0  35.2
1969   41.2  36.2  40.9  49.8  53.3  59.2  68.1  72.2  65.5  50.4  46.6  42.3
1970   40.9  41.9  42.5  42.5  54.5  61.5  71.1  71.5  61.8  52.2  44.7  37.0
1971   38.6  40.6  44.4  43.4  48.2  58.9  69.7  69.7  62.5  49.0  42.4  34.3
1972   37.9  43.4  50.0  48.8  54.4  61.6  71.2  66.7  61.1  50.6  41.4  37.2
1973   35.4  38.0  35.5  45.3  55.4  63.8  67.9  66.8  59.9  52.2  43.2  42.8
1974   37.4  40.3  43.3  46.2  53.1  65.8  68.6  66.6  65.7  53.0  45.4  38.3
1975   40.5  38.8  38.9  38.0  52.3  61.0  68.6  67.2  64.2  50.7  45.2  40.7
1976   40.8  41.6  40.7  43.1  55.1  62.3  67.6  63.1  59.9  53.5  47.6  39.9
1977   38.9  43.5  38.0  48.5  46.1  63.4  68.6  68.6  62.1  55.5  48.7  45.7
1978   41.0  41.5  45.2  44.4  53.6  65.3  69.7  67.9  60.5  58.0  42.2  36.2
1979   34.9  36.0  41.1  48.1  52.8  64.7  67.9  65.1  67.0  54.9  43.5  42.9
1980   42.2  44.6  40.8  47.4  47.2  61.1  70.8  66.8  63.8  56.5  48.7  45.5
1981   43.1  43.7  41.9  49.8  54.1  67.9  70.5  71.5  65.2  49.9  48.5  44.9
1982   37.8  42.2  41.6  47.2  53.2  57.9  67.2  70.4  61.1  51.4  42.9  39.4
1983   41.5  41.6  42.9  42.3  54.0  59.3  67.2  67.8  66.6  55.8  46.2  43.2
1984   43.3  43.7  47.7  47.4  60.7  61.6  69.4  68.0  64.9  49.9  42.9  37.2
1985   38.6  40.4  41.4  53.0  54.2  64.0  70.2  68.3  56.7  52.6  43.3  42.1
1986   46.1  42.3  47.3  49.0  55.0  63.8  65.6  71.4  57.1  51.0  48.2  42.1
1987   39.7  40.8  40.7  52.9  54.4  63.8  64.9  66.3  63.0  56.9  44.9  36.4
1988   40.2  44.8  46.8  47.7  54.1  62.4  70.4  68.1  62.2  59.3  45.5  39.7
1989   36.8  39.4  49.2  54.7  53.4  62.1  71.3  66.0  63.0  53.7  49.5  41.8
1990   39.7  37.3  44.9  50.1  51.8  63.1  69.7  67.0  64.3  56.2  45.9  36.3